* {
    margin: 0;
    padding: 0;
}

/*-------- MENU ---------- */

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #202532;

}

header li a {

    text-align: center;
    margin: 0 5vw 0 0;
    color: #f1f1f1;
    font-size: 0.8em;
}

nav {
    padding: 10px 6px;
    width: 100vw;

}

/* Change the link color to #111 (black) on hover */

header li a:hover {
    background-color: #202532;
}

/* ########################################
TAGS [ <tag> ]
######################################## */

section {
    /* Kan slettes når sections harfået indhold */
    width: 100vw;
}

/* ########################################
SECTIONS [ #section ]
######################################## */

#gruppe {}

#animation {
    background-color: red;
}

#historie {
    background-color: green;
}

#storyboard_flowchart {
    background-color: cyan;
}

#persona {
    background-color: lightblue;
}

#moodboard {
    background-color: grey;
}

#styletile {
    background-color: pink;
}

#scener_karaktere {
    background-color: powderblue;
}

#layoutdiagram {
    background-color: white;
}

#sekvensdiagram {
    background-color: brown;
}

#assets {
    background-color: #4d4c4c;
}

#assets img {

    width: 10vw;

}

.assets :hover {}

#assets .sprite img {
    width: 60vw;


}

#assets .baggrund img {
    width: 30vw;


}

#test {
    background-color: turquoise;
}

#stand {
    background-color: yellow;
}

#trello_backlog {
    background-color: purple;
}

#burndown {
    background-color: orange;
}

/* ########################################
SECTION SPECIFIC CLASSES AND TAGS [ #section .class / #section tag ]
######################################## */

#moodboard img {
    width: 100%;
    height: 100%;
}

/* ########################################
CLASSES [ .class ]
######################################## */

/* ########################################
KEYFRAMES [ @keyframes ]
######################################## */
