* {
    margin: 0;
    padding: 0;
}

/*-------- MENU ---------- */

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

header li {
    width: 10vw;
    height: 2vw;
    padding: 0.5vw 1vw;
}

header li a {
    text-align: center;
    color: #f1f1f1;
    font-size: 0.9vw;
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    width: 100vw;
    height: 6vw;
    background-color: #202532;
}

/* Change the link color to #111 (black) on hover */

header li:hover {
    background-color: #1f1f1f;
}

/* ########################################
TAGS [ <tag> ]
######################################## */

body {
    background-color: #202532;
}

img {
    width: 100%;
}

section {
    /* Kan slettes når sections har fået indhold */
    width: 80vw;
    margin: 5vw auto;
    padding: 3vw;
    border-radius: 5vw;
}



/* ########################################
SECTIONS [ #section ]
######################################## */

#gruppe {
    background-color: #E9ECED;
}

#animation {
    background-color: #FFFFFF;
}

#historie {
    background-color: #E9ECED;
}

#storyboard_flowchart {
    background-color: #FFFFFF;
}

#persona {
    background-color: white;
}

#moodboard {
    background-color: #FFFFFF;
}

#styletile {
    background-color: #E9ECED;
}

#scener_karaktere {
    background-color: #FFFFFF;
}

#scener_karaktere img {
    width: 35vw;
}

#layoutdiagram {
    background-color: #E9ECED;
}

#sekvensdiagram {
    background-color: #FFFFFF;
}


#assets {
    background-color: #E9ECED;
}

#assets img {
    width: 10vw;
    overflow: hidden;
}

#assets img:hover {
    width: 20vw;
}



#assets .sprite img {
    width: 60vw;
}

#assets .sprite img:hover {
    width: 100%;
}

#assets .baggrund img {
    width: 30vw;
}


#assets .baggrund img:hover {
    width: 50vw;

}

#test {
    background-color: #FFFFFF;
}

#stand {
    background-color: #E9ECED;
}

#trello_backlog {
    background-color: #FFFFFF;
}

#burndown {
    background-color: #E9ECED;
}


#moodboard img {
    width: 100%;
    height: 100%;
}

/* ########################################
SECTION SPECIFIC CLASSES AND TAGS [ #section .class / #section tag ]
######################################## */

/* ########################################
CLASSES [ .class ]
######################################## */

.p1,
.p2 {

    display: flex;
    flex-wrap: wrap;
    background-color: #E9ECED;
}

.p1 .text,
.p2 .text {
    flex-basis: 375px;
    flex-grow: 2;
}


.p1 .img,
.p2 .img {
    flex-basis: 375px;
    flex-grow: 1;

    width: 50%;
}

/* ########################################
KEYFRAMES [ @keyframes ]
######################################## */
