* {
    margin: 0;
    padding: 0;
}


/* ########################################
TAGS [ <tag> ]
######################################## */

/* ########################################
SECTIONS [ #section ]
######################################## */

#scene1 {
    overflow: hidden;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#baggrund1 {
    background-image: url("../img/baggrund_1_uden_skyer_og_bobler.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}

#sky1 {
    width: 46vw;
    height: 10.5vw;
    background-image: url("../img/skyer.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 3;
    top: 7.8vw;
    animation-name: sky_kf;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes sky_kf {
    0% {
        left: -100vw;
    }
    100% {
        left: 100vw;
    }
}

/* bobler */

.bobble {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

#bobler1 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble1.svg");
    background-size: contain;

    top: 52.1vw;
    left: 33.3vw;
}

#bobler2 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble2.svg");
    background-size: contain;

    top: 48.4vw;
    left: 29vw;
}

#bobler3 {
    width: 3.2vw;
    height: 2.5vw;
    background-image: url("../img/bobble3.svg");
    background-size: contain;

    top: 42vw;
    left: 31.2vw;
}

#bobler4 {
    width: 3.2vw;
    height: 2.1vw;
    background-image: url("../img/bobble4.svg");
    background-size: contain;

    top: 38.4vw;
    left: 26.7vw;
}

#bobler5 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble5.svg");
    top: 36.5vw;
    left: 35.8vw;
}

#bobler6 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble6.svg");
    top: 36.2vw;
    left: 44.6vw;
}

#bobler7 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble7.svg");
    top: 36.9vw;
    left: 59.7vw;
}

#bobler8 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble8.svg");
    top: 40.6vw;
    left: 68.1vw;
}

#bobler9 {
    width: 3.8vw;
    height: 2.55vw;
    background-image: url("../img/bobble9.svg");
    top: 46.1vw;
    left: 70vw;
}

#bobler10 {
    width: 4.6vw;
    height: 3.1vw;
    background-image: url("../img/bobble10.svg");
    top: 49.6vw;
    left: 63vw;
}

#bobler11 {
    width: 2.2vw;
    height: 3.5vw;
    background-image: url("../img/bobble11.svg");
    top: 45.5vw;
    left: 61.7vw;
}

.bobble_anim_1 {
    animation-name: bobble_anim_1_kf;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bobble_anim_2 {
    animation-name: bobble_anim_2_kf;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

}

@keyframes bobble_anim_1_kf {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.6);
    }
}

@keyframes bobble_anim_2_kf {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.6);
    }
}

/* bobler SLUT */

#pige_sprite {
    background-image: url("../img/pige_sprite.svg");
    background-size: 800% 200%;
    width: 100%;
    height: 100%;
}

#pige_container {
    position: absolute;
    z-index: 100;
    top: 16.25vw;
    left: 30vw;
    width: 40vw;
    height: 40vw;
}

.pige_ryg_til {
    animation-name: pige_ryg_til_kf;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

@keyframes pige_ryg_til_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -800% 0%;
    }
}

.pige_front {
    background-position: 0% -100%;
}


#scene2 {
    overflow: hidden;
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

#baggrund2 {
    background-image: url("../img/baggrund2_med_fyld.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 2;
}

#baggrund2_2 {
    background-image: url("../img/baggrund2_uden_fyld.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    z-index: 3;
}

/* ########################################
SECTION SPECIFIC CLASSES AND TAGS [ #section .class / #section tag ]
######################################## */

/* ########################################
CLASSES [ .class ]
######################################## */

/* ########################################
KEYFRAMES [ @keyframes ]
######################################## */
